__pycache__
.venv
Activity 13.3 - Performing and Initializing MySQL and MongoDB containers (Miguel Brito).docx
Activity 13.3 - Performing and Initializing MySQL and MongoDB containers (Miguel Brito).pdf